.card-bg {
    opacity: .75;
    margin-right: 55px;
   
    margin-left: 55px;
}

.card-space {
    margin-right: 55px;
    margin-bottom: 200px;

    margin-left: 55px; 
}

h3 {
    margin-left: 15px;
}
