@import url("https://fonts.googleapis.com/css?family=Tangerine");

.page-footer {
  background-color: rgb(224, 219, 219);
  color: black;
  text-align: center;
  font-family:'Tangerine', serif;
  position: fixed;;
  left:0;
  bottom:0;
  right:0;
  z-index: 200;
}
h4{
  font-size: 24px;
}