.input-style{
  /* position: relative; */
  margin-left: 10px;
  width:200px;
  height:30px;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #c98520;
  margin-left: 15px;
}